*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑 Light";
}
.clearfix{
	clear: both;
}
.middle{
	padding-bottom: 7px;
	background-color: rgb(239,241,243);
}
.middle .add{
	background-color: #FFFFFF;
	padding: 10px 10px;
}
.middle .add .tianjia{
	border-radius: 3px;
	float: left;
	border: 1px dashed rgb(193,193,193);
	width: 50px;
	height: 50px;
}
.middle .add .tianjia .heng{
	margin-top: 24.5px;
	margin-left: 9.5px;
	width: 32px;
	border-top: 1px solid rgb(181,181,181);
}
.middle .add .tianjia .shu{
	height: 32px;
	margin-top: -16px;
	margin-left: 24.5px;
	border-left: 1px solid rgb(181,181,181);
}
.middle .add span{
	font-weight: 600;
	display: inline-block;
	font-size: 14.5px;
	margin-top: 15.5px;
	margin-left: 8.5px;
}
.last{
	padding: 6.5px 10px;
}
.last .touxiang{
	float: left;
	width: 50px;
}
.last .word{
	margin-top: 6px;
	margin-left: 10px;
	float: left;
}
.last .word .name{
	font-weight: 600;
	font-size: 14.5px;
}
.last .word .record{
	display: block;
	margin-top: -1px;
	font-size: 13.5px;
	color: rgb(104,104,104);
}
.last .jiantou{
	margin-top: 16px;
	float: right;
	width: 13px;
}
.divide{
	border: none;
	border-top: 1px solid rgb(249,249,249);
}
.divide1{
	border: none;
	border-top: 1px solid rgb(231,231,231);
}
a{
	color: black;
	text-decoration: none;
}