/*首页顶部*/
.top_box{
	width: 100%;
	background: #fafafa;
}
.top_box .top{
	width: 1000px;
	height: 97px;
	margin: auto;
}
.top_box .top .logo{
	width: 216px;
	height: 91px;
	float: left;
	background: url("../images/logo.png") no-repeat;
}
.top_box .top .wechat_icon{
	width: 70px;
	height: 14px;
	line-height: 14px;
	color: #a4a4a4;
	font-size: 16px;
	border-right: 1px solid #a3a3a3;
	float: right;
	position: relative;
	top:74px;
	background: url("../images/iconfont-weixin.png") no-repeat 8px 0;
	text-indent: 28px;
}
.top_box .top .weibo_icon{
	width: 70px;
	height: 14px;
	line-height: 14px;
	color: #a4a4a4;
	font-size: 16px;
	border-right: 1px solid #a3a3a3;
	float: right;
	position: relative;
	top:74px;
	background: url("../images/iconfont-xinlang.png") no-repeat 8px 0;
	text-indent: 28px;
}
.top_box .top .server_icon{
	width: 70px;
	height: 14px;
	line-height: 14px;
	color: #a4a4a4;
	font-size: 16px;
	border-right: 1px solid #a3a3a3;
	float: right;
	position: relative;
	top:74px;
	background: url("../images/iconfont-icon7.png") no-repeat 8px 0;
	text-indent: 28px;
}
.nav_box{
	width: 100%;
	background: url("../images/nav_back.png") repeat-x;
}
.nav_box .nav{
	width: 1200px;
	height: 68px;
	color: #fff;
	font-size: 20px;
	margin: auto;
}
.nav_box .nav ul{
	margin: 0;
}
.nav_box .nav ul img{
	float: left;
	margin-top: 5px;
}
.nav_box .nav ul a{
	color: #fff;
}
.nav_box .nav ul li{
	width: 223px;
	height: 68px;
	line-height: 68px;
	list-style: none;
	text-indent: 90px;
	float: left;
}
/*首页底部*/
.footer_box{
	width: 100%;
	background: #333333;
}
.footer_box .footer{
	width: 999px;
	margin: auto;
}
.footer_box .footer .content_piece{
	width: 333px;
	height: 249px;
}
.footer_box .footer .content_piece .content_weibo{
	width: 220px;
	height: 60px;
	background: url("../images/weibo-big.png") no-repeat ;
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	position:relative;
	top: 100px;
}