*{margin: 0;padding: 0;}
.clearfix{clear: both;}
.classify{
    font-size: 15px;
    margin-top: 6px;
    text-align: center;
    color: rgb(149,149,149);
}
.classify .teacher{
    font-weight: 600;
    width: 32%;
    margin-left: 9%;
    margin-right: 9%;
    float: left;
    padding-bottom: 7px;
    border-bottom: 2px solid rgb(6,193,143);
    color: rgb(6,193,143);
}
.classify .parent{
    font-weight: 600;
    width: 32%;
    margin-left: 9%;
    margin-right: 9%;
    float: left;
}
.fenge{
	background-color: rgb(239,243,241);
	height: 8px;
}

/*内容*/
a :hover{
	cursor: pointer;
}
a{
	color: black;
	text-decoration: none;
}
.bigbox{ margin-top:15px; font-family:"微软雅黑";}
.boxleft{ 
	float:left; width:42%; 
	margin-left:5%; margin-right:3%;
}
.boxright{ 
	float:right; width:42%; 
	margin-left:3%; margin-right:5%;
}
.boxleft img{ width:100%;}
.boxright img{ width:100%;}
.boxleft .one{ 
	color:#0d0d0d; 
	font-size:14px; line-height:22px;
}
.boxright .one{ color:#0d0d0d; font-size:15px; line-height:22px;}
.boxleft .two{ 
	color:#777777; font-size:12.5px;
	/*margin-top: -1px;*/
}
.boxleft .two .left{ float:left;}
.boxleft .two .right{ float:right;}
.boxright .two{ 
	color:#777777; 
	font-size:12.5px;
}
.boxright .two .left{ float:left;}
.boxright .two .right{ float:right;}

.new{
	position: fixed;
	right: 2%;
	top: 80%;
	border-radius: 50%;
	text-align: center;
	width: 19%;
	background-color: rgb(6,192,142);
	font-size: 5.2vw;
	float: right;
}
.new pre{
	display: block;
	margin-top: 8%;
	font-weight: bold;
	color: white;
}
a :hover{
	cursor: pointer;
}
a{
	text-decoration: none;
	color: white;
}

   *{ margin: 0; padding: 0; font-family: '微软雅黑'}

     body{ background-color: #eee;}

    .main{ width: 100%;  

      margin: auto;

    }

    .viwe{ width:38%; height: 120px; border:5px #fff solid;

      float: left;

      margin: 11px;position:relative;overflow: hidden;



    }

    img{ max-width: 100%;overflow: hidden;}

    .hover{

      width: 100%;

      height: 0px; 

      background-color:rgba(0,0,0,0.5);

      position:absolute; 

      overflow: hidden;

      top: 30px; 

      left: 0; 

      transform:rotate(55deg) ;

      transition: all  0.2s;

      z-index: 999;

    }

    .viwe:hover .hover{ height: 140px; transform:rotate(0deg);}

    .viwe:before{

      content: "";

      position: absolute;

      top:-240px;

      right:0;

      width: 361px;

      height:361px;

     

      transform:rotate(55deg) translateX(40px);

      transform-origin: 100% 0%;/*定转换的位置*/

      transition: all 200ms ease 0.4s;

    }

    .viwe:hover:before{top:0;}

    .viwe:after{

      content: "";

      position: absolute;

      bottom:-240px;

      left:0;

      width: 100%;

      height:361px;

      background:rgba(25,0,36,0.6);

      transform:rotate(55deg) translateX(-40px);

      transform-origin: 0% 100%;/*定转换的位置*/

      transition: all 200ms ease 0.4s;

    }

    .viwe:hover:after{ bottom: 0;}

    h4{ text-align: center;margin-top: 25px; margin-bottom: 15px;

    

      color: #fff;}

      p{color: #fff;
      font-size: 15px;
      }