*{margin: 0;padding: 0;}
.clearfix{clear: both;}
body{ 
	background-color:#eff0f2;
	font-family:"微软雅黑 Light";
}


/*头像*/
.bigbox{ background-color:#FFF; }
.bigbox .boxone{ padding-left:10px; 
	padding-right:10px;border-bottom:#d2d2d2 solid 1px;}
.bigbox .boxone .one{ width:8px; float:right; 
	padding:26.5px 0 0 15px;}
.bigbox .boxone .two{ width:45px; float:right; padding:10px 0;}
.bigbox .boxone span{ line-height:65px; font-size:14.5px; font-weight: 600;}
/*内容*/
.bigbox .box{ padding-left:10px; padding-right:10px;border-bottom:#d2d2d2 solid 1px;}
.bigbox .box .one{ width:8px; float:right; padding:19.5px 0 0 15px;}
.bigbox .box .two{ width:70px; float:right; padding:10px 0;}
.bigbox .box .left{ line-height:55px; font-size:14.5px;font-weight: 600;}
.bigbox .box .right{ line-height:55px; font-size:14.5px; color:#6f6e6e; float:right;}
/*顶部返回条*/