*{margin: 0;padding: 0;}
.clearfix{clear: both;}
body{ 
	font-family:"微软雅黑";
}
/*邀请*/
.yaoqing :hover{
	cursor: pointer;
}
.yaoqing :link{
	color: black;
}
.yaoqing :visited{
	color: black;
}
.yaoqing img{ 
	border:1px dashed #979995; 
	width:30px; 
	padding:9px; 
	border-radius:3px; 
	margin:10px; 
	display:block; 
	float:left;
}
.yaoqing span{ 
	color: black;
	float:left;
	line-height:71px; 
	font-size:14.5px;
}
.hui{ 
	background-color:#eff0f2;
 	height:8px;
 }
/*内容*/
.box{ 
	padding:0 10px;
	border-bottom:1px solid #d2d2d2;
}
.box1{ 
	padding:0 10px;
	border-bottom:1px solid rgb(250,250,250);
}
.left{ 
	float:left; 
	display:block; 
	width:50px; 
	padding:2% 10px 2% 0;
}
.center{ 
	float:left; 
	padding-top:4%;
	padding-bottom: 4%;
}
.right{ 
	float:right; 
	display:block;
	width:8px; 
	margin-top:6.9%;
	margin-bottom: 7%;
}
.center .top{ 
	font-size:15px;
}
.center .bot{ 
	font-size:14px; 
	color:#a0a19e;
}