*{margin: 0;padding: 0;}
.clearfix{clear: both;}
body{ font-family:"微软雅黑 Light";background-color:#eff0f2;}

/*内容*/
.big{ }
.box{ background-color:#FFF;
	padding:0 10px; 
	border-bottom:#d2d2d2 solid 1px;}
.box .left{ float:left; display:block; width:45px; 
	padding:10px 10px 10px 0;}
.box span{ float:left;font-size:14px;
	margin-left: 5px;
	font-weight: bold; 
	line-height:66px;}
.box .right{ 
	float:right; display:block; width:58px; 
	padding-top:20px;
}
