*{margin: 0;padding: 0;}
.clearfix{clear: both;}
body{
	background-color:#eff0f2; 
}
.big{
	background-color:#eff0f2; 
	font-family:"微软雅黑";
	padding-bottom: 35px;
}

/*切换栏*/
.big .tab{
	background-color:#FFF; 
	font-family:"微软雅黑 Light"; 
	font-weight:600;
}
.big .tab .one{ 
	color:#676767; 
	width:32%; 
	font-size:14.5px; 
	line-height:32px; 
	float:left; 
	text-align:center;
}
.big .tab .tro{ 
	color:#06c18e; 
	width:32%; 
	font-size:14.5px; 
	line-height:32px; 
	float:left; 
	text-align:center;
}

.big .tab .two{ 
	color:#676767; 
	width:32%; 
	font-size:14.5px; 
	line-height:32px; 
	float:right; 
	text-align:center;
}

.big .tab .tro div{
	border-bottom:2px #06c18e solid;
	width:60%; 
	margin-left:auto; 
	margin-right:auto;
}
/*内容区*/
.bigbox{ 
	margin:7px 10px 0px;
	background-color:white;
	border-radius:5px;
}
.teacher{ 
	border-bottom:#d2d2d2 dashed 1px; 
	padding:10px 10px;
}
.teacher img{ 
	float:left; 
	/*margin-right:5px; */
	width:40px;
}
.teacher .left{ 
	margin-left: 5px;
	font-weight: 600;
	float:left; 
	/*padding-top:4px;*/
}
.teacher .right{ 
	float:right;
	color:#979995; 
	font-size:12.5px; 
	/*padding-top:4px;*/
	margin-top: 2px;
}
.teacher .left .top{
	color:#0d0d0d; 
	font-size:13.5px;
	margin-top: 2px;
}
.teacher .left .bot{
	color:#979995; 
	font-size:11px;
}
/*文字*/
.wenzi{ 
	font-size:13.5px; 
	color:#262626; 
	padding:10px 10px;
}
/*图片*/
.bigbox .photo{
	padding:0px 10px 15px;
	border-bottom:#d2d2d2 dashed 1px;
}
.bigbox .photo img{ 
	width:100%;
}
/*按钮*/
.bigbox .but{ 
	color:#FFF; 
	font-size:14.5px; 
	padding:15px 0 20px;
}
.bigbox .but .no{ 
	float:left; 
	margin-left:12%;
}
.bigbox .but .yes{ 
	float:right; 
	margin-right:12%;
}
.bigbox .but .no span{ 
	background-color:#f47520;
	border-radius:5px; 
	padding:5px 20px;
}
.bigbox .but .yes span{ 
	background-color:#06c18e;
	border-radius:5px; 
	padding:5px 20px;
}