*{margin: 0;padding: 0;}
.clearfix{clear: both;}
body{
	background-color:#eff0f2;
}
.big{
	background-color:#eff0f2; 
	font-family:"微软雅黑 Light"; 
	padding-top:7px;
	padding-bottom: 30px
}

/*内容区*/
.bigbox{ 
	margin-left:10px; 
	margin-right:10px; 
	margin-bottom:7px;
	background-color:white;
	border-radius:6px; 
	padding-bottom:15px;
}
.teacher{ 
	border-bottom:#d2d2d2 dashed 1px; 
	padding:10px;
}
.teacher img{ 
	float:left; 
	margin-right:5px; 
	width:46px;
	
}
.teacher .left{ 
	font-weight: bold;
	font-family:"微软雅黑 Light"; 
	float:left; 
	padding-top:5px;
	
}
.teacher .right{ 
	float:right;
	padding-top:1.2%;
	
}
.teacher .left .top{
	color:#0d0d0d; 
	font-size:14px; 
	display:block;
}
.teacher .left .bot{
	color:#262626; 
	font-size:13px; 
	display:block;
}
.teacher .right .top{ 
	color:#06c18e; 
	font-size:14px; 
	display:block;
}
.teacher .right .bot{ 
	color:#262626;
	font-size:13px; 
	display:block; 
	float:right;
}
/*文字*/
.wenzi{ 
	font-size:13px; 
	color:#262626; 
	padding:7px 10px 10px;
}
/*图片*/
.bigbox .photo{
	padding:0px 10px 10px 10px;
	border-bottom:#d2d2d2 dashed 1px;
}
.bigbox .photo img{ 
	width:100%;
}
/*受理人*/
.bigbox .riqi{
	padding:10px 10px; 
	color:#979995;
	font-size:12.5px;
}
.bigbox .riqi .left{ 
	float:left;
}
.bigbox .riqi .right{ 
	float:right;
}
/*回复*/
.bigbox .huifu{ 
	background-color:#eff0f2; 
	padding:10px 5px 10px 65px; 
	margin:0 10px 10px;
	position: relative;
}
.huifu img{ 
	position: absolute;
	width:46px;
	left: 10px;
	top: 10px
}
.huifu .right{ 
	margin-top: 4px;
    float: right;
	width:100%;
}
.huifu .right .top .one{ 
	font-weight: bold;
	float:left;
	color:#0d0d0d; 
	font-size:15px;
}
.huifu .right .top .two{ 
	float:right;
	color:#979995;
	font-size:12.5px;
}
.huifu .right .bot{ 
	color:#464646; 
	font-size:14px
}
hr{
	border: none;
	border-bottom:#d2d2d2 dashed 1px; 
	margin-top: -2px;
}

.new{
	position: fixed;
	right: 3%;
	top: 80%;
	border-radius: 50%;
	text-align: center;
	width: 60px;
	height: 60px;
	background-color: rgb(6,192,142);
	font-size: 16px;
	float: right;
}
.new span{
	display: block;
	margin-top: 33%;
	font-weight: 600;
	font-family:"微软雅黑 Light";
	color: white;
}