*{margin: 0;padding: 0;}
.clearfix{clear: both;}
body{ 
	font-family:"微软雅黑 Light";
	font-weight: 600;
}

/*内容*/

.img{ width:180px; display:block; margin:60px auto 20px auto;}
.div{ text-align:center; font-size:17px;}

/*顶部返回条*/
