@charset "utf-8";
/* CSS Document */
/*top*/
body{ padding:0; 
	padding-bottom: 50px;
	margin:0; background-color:#eff0f2;}
*{ font-family:"微软雅黑 Light"; 
 font-size:14px;}
.clearfix{ clear:both;}
.date_box{ 
	font-size: 14px;
	color:#06c18e; width:160px; text-align:center; margin-left:auto; margin-right:auto; padding:10px;}
.contant_box{ 
	background-color:#eff0f2; padding:7px 10px 0px 10px;}
.content{ 
	background-color:white;
}
.nei{ padding:10px;}
.rbox{ float:left; margin-left:5px;}
.rname{ margin-top:2px; font-size:14px;}
.renke{ color:#979995; font-size:11.5px;}
.riqi_box{ float:right;}
.riqi{ margin-top:2px;color:black; font-size:14px;}
.pingyu{ line-height:20px; color:black; font-size:14px; padding-bottom:10px; padding-right:10px;}