* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑 Light" ; 
}
.clearfix{
		clear: both;
}
.classify{
    font-size: 15px;
    margin-top: 6px;
    text-align: center;
    color: rgb(149,149,149);
}
.classify a{
    color: inherit;
    text-decoration: none;
}
.classify .leader{
    font-weight: 600;
    width: 33%;
    float: left;
    padding-bottom: 7px;
}
.classify .teacher{
    font-weight: 600;
    width: 45%;
    float: left;
}
.classify .parent{
    font-weight: 600;
    padding-bottom: 7px;
    width: 45%;
    float: right;
    border-bottom: 2px solid rgb(6,193,143);
    color: rgb(6,193,143);
}
.fenge{
    height: 8px;
    width: 100%;
    background-color: #eff0f2;
}

.left{
    width: 17%;
    float: left;
}
.left img{
    margin-left: 15%;
    width: 72%;
}
.right{
    font-size: 15px;
    font-weight: 600;
    margin-left: 2%;
    width: 81%;
    float: right;
}
.right .jiantou{
    width: 9%;
}
.right .jiantou:hover{
    cursor: pointer;
}
.right .phone{
    font-weight: 500;
    margin-left: 1%;
    color: rgb(172,173,172);
}
.right img{
    margin-top: -2%;
    margin-right: 3%;
    float: right;
    width: 13%;
}
.peng{
    margin-top: 3%;
}
.peng .pengxiaoer{
    margin-top: 4.2%;
    margin-bottom: -2%;
}
.wang{
    margin-bottom: 80px;
}
.wang .wangxiaoniu{
    margin-top: 4.2%;
    margin-bottom: -2%;
}

