* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑 Light" ;
}
.clearfix{
		clear: both;
}

.one{
    margin-bottom: -23px;
}
.classify{
    font-size: 15px;
    margin-top: 6px;
    text-align: center;
    color: rgb(149,149,149);
}
.classify a{
    color: inherit;
    text-decoration: none;
}
.classify .teacher{
    font-weight: 600;
    width: 32%;
    margin-left: 9%;
    margin-right: 9%;
    float: left;
    padding-bottom: 7px;
    border-bottom: 2px solid rgb(6,193,143);
    color: rgb(6,193,143);
}
.classify .parent{
    font-weight: 600;
    width: 32%;
    margin-left: 9%;
    margin-right: 9%;
    float: left;
}
.fenge{
    height: 8px;
    width: 100%;
    background-color: #eff0f2;
    margin-bottom: 8%;
}

.left{
    width: 17%;
    float: left;
}
.left img{
    margin-top: 3px;
    margin-left: 25%;
    width: 72%;
}
.peng .right{
    margin-right: 1%;
    margin-left: 2.5%;
    margin-top: 2.4%;
    width: 79.5%;
    float:right;
    border-bottom: 1px solid rgb(230,230,230);
    padding-bottom: 3%;
}

.right .pengxiao{
    margin-top: 2%;
    width: 68%; 
    font-size: 15px; 
    font-weight: 600;
    float: left;
}
.right .phone{
    font-size: 12.5px; 
    color: rgb(172,173,172);
    margin-left: 5%;
}
.right img{
    margin-top: -1%;
    margin-right: 2%;
    float: right;
    width: 13%;
}
.peng{   
    margin-top: 2%;
}
