*{margin: 0;padding: 0;	font-family: "微软雅黑 Light" ;font-weight: 600;}
.clearfix{clear: both;}
body{ background-color:#eff0f2;}

/*内容*/
.bigbox{ 
	background-color:#FFF; 
	margin-top: 7px;
	margin-bottom:7px; 
	color:#636363;}
.bigbox .box{ 
	padding-left:10px; 
	padding-right:10px;
	border-bottom:#d2d2d2 solid 1px;
}
.bigbox .boxno{padding-left:10px; padding-right:10px;}
.bigbox img{ 
	width:8px; 
	float:right; 
	padding:20px 0 0 10px;
}
.bigbox span{ line-height:55px; font-size:14px;}
.bigbox .neirong{
	padding:0 10px 40px 10px;
	border-bottom:#d2d2d2 solid 1px;
}
.bigbox .tianjia{
	border:1px dashed #979995;
	border-radius:4px; 
	width:50px; 
	padding:13px;
	margin:10px; 
	display:block; 
	float:left;
}
/*发布*/
.queren{ 
	width:25%; height:32px;
	background-color:#06c18e; 
	color:#FFF;
	font-size: 15px; 
	border-radius:5px; 
	margin:20px auto 0 auto; 
	line-height:32px; 
	text-align:center;
}  