*{margin: 0;padding: 0;}
.clearfix{clear: both;}
body{
	font-family:"微软雅黑";
}

/*页眉*/
.teacher{ 
	border-bottom:#d2d2d2 dashed 1px; 
	padding:10px 10px;
}
.teacher img{ 
	float:left; 
	margin-right:7px; 
	width:46px;
}
.teacher .left{ 
	float:left; 
	padding-top:5px;
}
.teacher .right{ 
	float:right;color:#979995; 
	font-size:12.5px; 
	padding-top:5px;
}
.teacher .left .top{
	font-weight: bold;
	color:#0d0d0d; 
	font-size:14px;
}
.teacher .left .bot{
	color:#979995; 
	font-size:13px;
}
/*内容*/
.box{ 
	padding:0 10px 20px 10px;
	border-bottom:#d2d2d2 dashed 1px;
}
.box p{ 
	padding:10px 0 0 0; 
	font-size:14px; 
	color:#262626;
}
.box .tupian{ width:100%;}
.box .tupian img{ 
	width:29%; 
	margin:15px 2.1% 0; 
	display:block; 
	float:left;
}
/*评论*/
.tubiao{ padding:10px 2.1%;}
.tubiao img{ 
	float:right; 
	width:16px; 
	margin-right: 10px;
	margin-left:20px;
}
/*点赞*/
.dianzan{padding:6px 10px;}
.dianzan img{
	width:15px; 
	margin-top:10px;
	margin-right: 4px;
}
.dianzan span{ 
	color:#06c18e; 
	font-size:14px;
	font-family:"微软雅黑 Light";
	font-weight: 600;
}
/*回复*/
.huifu1{ 
	background-color:rgb(239,241,243); 
	padding:10px 0px 10px 65px; 
	margin:0 10px;
	border-bottom: 1px dashed #dddee2;
	position: relative;
}
.huifu1 img{ 
	/*margin-top: 0.5%;*/
	/*float:left;*/
	position: absolute;
	top: 8px;
	left: 10px;
	width:46px;
}
.huifu1 .right{ 
	/*float:right; */
	margin-top: 3px;
	/*width:81%;*/
}
.huifu1 .right .top .one{ 
	float:left;
	color:#0d0d0d; 
	font-size:15px;
	font-family:"微软雅黑 Light";
	font-weight: 600;
}
.huifu1 .right .top .two{ 
	float:right;
	color:#979995;
	font-size:12.5px;
}
.huifu1 .right .bot{ color:#464646; font-size:14px;}
.huifu{ 
	background-color:rgb(239,241,243); 
	padding:10px 0px 10px 65px; 
	margin:0 10px 20px;
	position: relative;
}
.huifu img{ 
	/*margin-top: 0.5%;*/
	/*float:left;*/
	position: absolute;
	top: 8px;
	left: 10px;
	width:46px;
}
.huifu .right{ 
	margin-top: 3px;
	width: 100%;
	/*float:right; */
	/*width:81%;*/
}
.huifu .right .top .one{ 
	float:left;
	color:#0d0d0d; 
	font-size:15px;
	font-family:"微软雅黑 Light";
	font-weight: 600;
}
.huifu .right .top .two{ 
	float:right;
	color:#979995;
	font-size:12.5px;
}
.huifu .right .bot{ color:#464646; font-size:14px}