*{margin: 0;padding: 0;}
.clearfix{clear: both;}
body{ font-family:"微软雅黑 Light"; background-color:#eff0f2;}
/*内容*/
.big{ background-color:#FFF;}
.box{ padding:0 10px; border-bottom:1px solid #d2d2d2;}
.box .left{ float:left; display:block; width:50px; 
	padding:10px 10px 10px 0;}
.box .center{ float:left; padding-top:10px;}
.box .right{ float:right; display:block; width:8px; 
	padding-top:28px;}
.box .center .top{ font-size:15px; line-height:30px;}
.box .center .bot{ font-size:14px; color:#a0a19e;}