@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; font-family:"微软雅黑";}
a:hover{ text-decoration:none;}
li{ list-style:none;}
clearfix{ clear:both;}
/*导航*/
.nav{ width:65%;; margin-left:auto; margin-right:auto;height:65px;position:relative; overflow:hidden;min-width:1000px;}
/*.nav ul{ position:absolute; right:80px;}*/
.nav img{ margin-top:3px;float:left; margin-right:15%;}
.nav p{ position:absolute; right:0; top:0; color:#929292; margin-left:5%;}
.nav ul li{ float:left; padding:0 2%; line-height:65px;font-size:18px;}
.nav ul a{ color:#000; padding-bottom:12px;}
.nav ul li:hover a{ border-bottom:#06c18e 10px solid;}
/*背景图*/
.banner{ border-top:3px solid #06c18e;min-width:1000px;}
.banner img{  width:100%;min-width:1000px;}
/*背景色*/
.qianse{ background-color:#f8f8f8;min-width:1000px;}
.shense{ background-color:#eaeaea;min-width:1000px;}
/*one*/
.one{ width:55%; margin:0 auto; padding:30px 0;min-width:1000px;}
.one .tupian{ width:50%;float:right;}
.one div img{ width:90%; float:right;}
.one .left{width:50%; float:left; font-size:15px; line-height:30px;}
.one .no{ width:150px;font-size:22px;text-align:center; line-height:60px;background-color:#353535; color:#FFF; float:left;}
/*two*/
.two{ width:55%; margin:0 auto; padding:30px 0;min-width:1000px;}
.two .tupian{ width:45%; padding-top:30px; float:left;}
.two div img{ width:90%; float:left;}
.two .right{width:55%; float:right; font-size:15px; line-height:30px;}
.two .no{ width:150px;font-size:22px;text-align:center; line-height:60px;background-color:#353535; color:#FFF; float:right;}
/*three*/
.three{ width:55%; margin:0 auto; padding:30px 0;min-width:1000px;}
.three .tupian{ width:50%;float:right;}
.three div img{ width:80%; float:right;}
.three .left{width:50%; float:left; font-size:15px; line-height:30px;}
.three .no{ width:150px;font-size:22px;text-align:center; line-height:60px;background-color:#353535; color:#FFF; float:left;}
/*four*/
.four{ width:55%; margin:0 auto; padding:30px 0;min-width:1000px;}
.four .tupian{ width:40%; padding-top:30px; float:left;}
.four div img{ width:90%; float:left;}
.four .right{width:60%; float:right; font-size:15px; line-height:30px;}
.four .no{ width:150px;font-size:22px;text-align:center; line-height:60px;background-color:#353535; color:#FFF; float:right;}
/*five*/
.five{ width:55%; margin:0 auto; padding:30px 0;min-width:1000px;}
.five .tupian{ width:50%;float:right;}
.five div img{ width:80%; float:right;}
.five .left{width:50%; float:left; font-size:15px; line-height:30px;}
.five .no{ width:150px;font-size:22px;text-align:center; line-height:60px;background-color:#353535; color:#FFF; float:left;}
/*底部导航*/
.botnav{ background-color:#f2f2f2; min-width:1000px;}
.botnav .box{ width:65%; margin:0 auto; padding:20px 0; min-width:1000px;  display:block;}
.botnav div{ display:inline-block;}
.botnav div img{ display:block;}
.botnav .left{ width:32%; padding-right:3%;}
.botnav .center{ border-right:2px solid #c9c9c9; border-left:2px solid #c9c9c9; width:35%; padding:0 3%;}
.botnav .right{ width:32%; padding-left:3%;}
.box p{ font-size:14px; font-weight:bold;}
.box span{ float:left;margin-top:-60px;margin-left:25%;}
/*页脚*/
.footer{ background-color:#000000; text-align:center; line-height:18px;min-width:1000px;}
.footer p{ font-size:12px; padding:5px 0; color:#666;}







