@charset "utf-8";
/* CSS Document */

.content{line-height:26px; font-size:16px;}
.footer{ width:100%; height:60px; position:fixed; bottom:0; background-color:rgba(0,0,0,0.5);}
.footer .tubiao{position:absolute; left:10px; top:10px;}
.footer .anniu{ position:absolute; right:10px;top:20px;}
.footer p{ color:#FFF; position:absolute; font-family:"微软雅黑"; left:55px;}
.header{ width:100%; height:55px; position:fixed;top:0; background-color:rgba(0,0,0,0.5);}
.header .tubiao{position:absolute; left:10px; top:8px; width:40px;}
.header .anniu{ position:absolute; right:10px;top:20px;}
.header p{ font-size:18px;color:#FFF; position:absolute; font-family:"微软雅黑"; left:55px;}