@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;font-family:"微软雅黑"}
a:hover{ text-decoration:none;}
ul{ margin:0;}
li{ list-style:none;}
clearfix{ clear:both;}
/*banner*/
.banner{position:relative;}
.banner .touxiang{height:108px;width:460px;background-color:rgba(0,0,0,0.5);border-radius:85px;position:absolute;top:95px; left:15px;}
.touxiang .tu{border:5px solid rgba(255,255,255,0.6); border-radius:85px; height:108px;}
.yaoqing{ position:absolute; bottom:35px; right:35px; font-size:22px; padding:7px 22px 7px 22px; border-radius:50px; background-color:white; color:#06c08e;}
/*one*/
.one{ height:56apx;}
.one ul{ float:left;width:33.33%; margin:8px 0;}
.one ul p{ display:inline-block; font-size:16px; color:#565656;}
.one ul li{ display:block; width:82px; margin:0 auto;}
.one ul li img{width:40px; height:40px;}
/*huitiao*/
.huitiao{ width:100%; height:12px; background-color:#eceef0;}
.huitiao2{ height:12px; background-color:#eceef0; position:fixed; bottom:95px;}
.huitiao3{ width:100%; height:2px; background-color:#eceef0;}
/*tubiao*/
.tubiao{float:left; width:50%;}
.tubiao li img{height:58px; width:58px;}
.tubiao li{ float:left;text-align:center; width:20%; font-size:18px; color:#000;line-height:30px;}
.tubiao li p{ padding-top:5px;}
/*tixing*/
.tixing{ height:50px;}
.tixing img{ margin:0 10px; height:28px; width:28px;}
.tixing span{ font-size:18px; line-height:48px; color:#ff6761;}
/*top*/
.top .left{ float:left; width:50%; border-right:1px solid #e3e3e3;}
.top .right{ float:right; width:50%; }
.top .you{ float:right; margin-top:4%; margin-bottom:4%; margin-right:4%}
.top .zuo{ float:left; margin-top:8%; margin-left:4%}
.top .zuo img{ height:45px;}
.top p{ font-size:16px; color:#989994;}
/*biaoti*/
.biaoti li{ height:80px; border-bottom:1px solid #e2e2e2;}
.biaoti li img{ margin:0 10px; width:28px; height:28px;}
.biaoti li span{ line-height:80px; font-size:20px; color:#000;}
/*footer*/
.footer{ height:95px; position:fixed; bottom:-20px; background-color: white;}
.f1,.f2,.f3,.f4,.f5{ float:left; width:20%; text-align:center; font-size:20px; background-color:white;}
/*.f1{ background-color:yellow;}
.f2{ background-color:blue;}
.f3{ background-color:green;}
.f4{ background-color:gray;}
.f5{ background-color:#661DCD;}*/
.icon1{ width:54px; height:54px; position:relative; top:50%; left:50%; margin-top:-27px; margin-left:-27px; margin-top:10px;}
.icon2{ width:90px; height:90px; background-color:#06c08e; position:relative; top:50%; left:50%; margin-top:-45px; margin-left:-45px; margin-top:-20px; border-radius:50%; position:relative; box-shadow:0px -2px 0px rgba(232,231,231,1.00); border:5px solid white;}
.heng{ width:50px; height:6px; background-color:white; position:absolute; top:50%; margin-top:-3px; left:50%; margin-left:-25px; border-radius:10px;}
.shu{ width:6px; height:50px; background-color:white; position:absolute; top:50%; margin-top:-25px; left:50%; margin-left:-3px; border-radius:10px;}
.lei2{color:#06c08e;}
/*lun*/
.tubiao2{float:left; width:50%;}
.tubiao2 li img{height:58px; width:58px;}
.tubiao2 li{ float:left;text-align:center; width:20%; font-size:18px; color:#000;line-height:30px;}
.tubiao2 li p{ padding-top:5px;}
/*dian*/
.dian_box{ width:72px; height:20px;  margin-left:auto; margin-right:auto; position:absolute; bottom:0; left:50%; margin-left:-36px;}
.dian{ width:15px; height:15px; float:left; background-color:#C1FCEC; margin-left:10px; margin-right:10px; border-radius:50%;}
.lei{ background-color:#06c08e;}
/*new-box*/
.new-box{ border:1px solid black; width:360px; height:80px; margin:50px auto; background-color:rgba(37,37,37,0.9); border-radius:10px;}
.new1,.new2,.new3{ float:left;}
.new1{  width:62px; height:62px; margin-top:9px; margin-left:10px;}
.new1 img{ width:62px; height:62px; border-radius:10px;}
.new2{  color:white; font-size:28px;margin-left:53px; margin-top:18px;}
.new3{  width:13px; height:20px; margin-left:65px; background-image:url(../img/img52.png); margin-top:30px;}
/*框一*/
.kuang{  margin-top:20px;}
.kuang-left{width:80px; height:80px; float:left;}
.kuang-right{  width:85%;float:right;}
.name{ color:#06c08e; font-size:24px; margin-bottom:16px;}
.date{  float:left; font-size:20px; color:gray;}
.time{ float:left; font-size:20px; color:gray;}
.neirong{  font-size:24px; margin-bottom:15px;}
.photo{ float:left; width:31%;}
.icon01{ float:left;font-size:20px; color:gray;}
.icon02{ width:40px; height:40px; float:right; background-image:url(../img/img45.png); margin-left:40px;}
.icon03{  width:40px; height:40px; float:right; background-image:url(../img/img44.png); margin-left:40px;}
.icon04{  width:40px; height:40px; float:right; background-image:url(../img/img47.png); margin-left:40px;}






















