@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; font-family:"微软雅黑";}
a:hover{ text-decoration:none;}
li{ list-style:none;}
clearfix{ clear:both;}
/*导航*/
.nav{ width:65%;; margin-left:auto; margin-right:auto;height:65px;position:relative; overflow:hidden;min-width:1000px;}
/*.nav ul{ position:absolute; right:80px;}*/
.nav img{ margin-top:3px;float:left; margin-right:15%;}
.nav p{ position:absolute; right:0; top:0; color:#929292;}
.nav ul li{ float:left; padding:0 2%; line-height:65px;font-size:18px;}
.nav ul a{ color:#000; padding-bottom:12px;}
.nav ul li:hover a{ border-bottom:#06c18e 10px solid;}
/*背景图*/
.banner{ border-top:3px solid #06c18e;min-width:1000px;}
.banner img{  width:100%;min-width:1000px;}
/*下载*/
.bigbox{ width:55%; margin-right:auto; margin-left:auto; background-color:#f2f2f2; margin-top:50px; min-width:800px; margin-bottom:50px;}
.box{ padding:5%;min-width:800px;}
.box .anniu{ margin-top:6%;}
.tubiao img{ display:block; float:left;}
.tubiao span{ margin-top:5%; margin-left:5%;float:left; font-size:1.6em; color:#06c18e;}
.tubiao strong{font-size:1.2em; color:#1f1f1f;}
.box .one{ float:left; border-right:1px solid #dcdcdc; padding-right:10%;}
.box .two{ float:right;}
.two p{ text-align:center; font-size:1.4em;}
.one p{ color:#5b5a5a; margin-top:6%;}
/*页脚*/
.footer{ background-color:#000000; text-align:center; line-height:18px;min-width:1000px;}
.footer p{ font-size:12px; padding:5px 0; color:#666;}