@charset "utf-8";
/* CSS Document */
*{ font-family:"微软雅黑 Light"}
body{ background-color:#f3f3f3; margin: 0;}
.clearfix{clear:both;}
.title{ font-size:20px; font-weight: bold; margin-top: 20px; margin-bottom: 10px;}
.name{color:#9e9e9e; margin-bottom: 15px;}
.content{line-height:25px; text-indent: 2em}
.box{ font-size:15px; margin-top: 15px;color:#9e9e9e;}
.speak{float: right;font-weight: bold; color: #379d6d;}
.tou{ float:left; width: 50px; height: 50px; border-radius: 50%;}
.neibox{ float: left; width: 80%; margin-left: 3%; border-bottom: 1px solid #dadada; padding-bottom: 10px;}
.foot{ background-color:white; text-align: center; margin-top: 30px; line-height: 24px; padding-top: 20px;; padding-bottom: 20px; border-bottom: 1px solid #dadada;}
.back{ width: 9px;position: absolute;left: 5px;top: 10px;}
.top_box{ background-color:#06c18e;font-size:15px;font-family:"微软雅黑 Light";font-weight: 600;line-height:38px; color:white;text-align:center;}
.nei_top{ padding-left: 10px; padding-right: 10px;}
.read{float: left; margin-right: 5px;}
.read_count{ float: left; margin-right: 15px; margin-top: 1px;}
.zan{float: left; background-image: url(img/img13.png); margin-right: 5px; width: 17px; height: 17px; background-repeat: no-repeat;background-size: 100% 100%;}
.zan_count{float: left; margin-top: 1px;}
.ping{padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #dadada}
.jingping{float: left; font-weight: bold;color: #3a3a3a;}
.pingnei{font-weight: bold;color: #3a3a3a; font-size: 15px; margin-top: 20px;}
.pingtou{width: 100%; height: 100%; border-radius: 50%;}
.pingname{float: left; margin-right: 20px;}
.pingdate{float: left;margin-right: 15px;}
.pingzan{float: left;margin-right: 5px;width: 17px; height: 17px; background-image: url(img/img13.png);background-size: 100% 100%}
.pinglun{ margin-top: 5px; font-weight: normal}
.nomore{text-align: center; margin-top: 10px;}
.xuanname{ font-weight: bold;}
.xuanxiang{font-weight: bold; color: #666666; font-size: 14px;}
.erbox{text-align: center;color:#9e9e9e; background-color: white; font-weight: bold; padding-top: 20px;padding-bottom: 20px;}
.erweima{display: block; width: 50%; margin-left: auto; margin-right: auto;}
.article{margin-right: 10px;}