@charset "utf-8";
/* CSS Document */
*{margin: 0;padding: 0; font-family:"微软雅黑";}
.clearfix{clear: both;}
body{ background-color:#eff0f2; font-family:"微软雅黑";}
/*轮播图*/
/*图标*/
.tubiao{ background-color:#FFF; padding-top:10px; padding-bottom:5px}
.tubiao .one{ float:left; width:20%; margin:0px 2.5% 0px 2.5%;}
.tubiao .one img{ width:60px; display:block; margin-left:auto; margin-right:auto;}
.tubiao .one p{ line-height:30px; text-align:center; font-size:14px;}
/*标题*/
.biaoti{ margin:8px 10px;}
.biaoti span{ margin-top:3px;}
.biaoti img{ float:left; margin-right:10px; width:24px;}
.biaoti .left{ float:left; color:#3e3e3e; font-size:14px;}
.biaoti .right{ float:right; color:#FFF; background-color:#afb28a; width:40px; text-align:center; border-radius:14px; font-size:13px;}
/*内容*/
.box{ background-color:#FFF;}
.big{ margin:0 0px 0 10px; padding:20px 0; border-bottom:1px #d2d2d2 dashed; padding-left: 100px;}
.big img{ position: absolute;left: 10px; width:90px; height: 60px;}
.big .right{ float:right; width:100%;}
.big .right .top .one{ font-size:15px; float:left;} 
.big .right .top .two{ font-size:13px; float:right; color:#979995;margin-right: 10px;}
.big .right p{ font-size:13px; margin-top:5px; color:#313131; margin-right: 10px;}
