* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑 Light";
}
.clearfix{
		clear: both;
}
body{
	background-color: rgb(239,240,242);
}

.year{
	background-color: white;
	padding: 3.5% ;
	text-align: center;
}
.year .left,.center,.right{
	float: left;
}
.year .left{
	margin-left: 30%;
}
.year .center{
	font-family: "微软雅黑 Light";
	font-size: 13px;
	font-weight: 600;
	margin-top: -0.3%;
}
.year img{
	width: 3%;

}
.year span{
	margin-left: 8%;
	margin-right: 8%;
	font-size: 3.5vw;
	font-weight: 500;
	color: rgb(6,192,143);
}
.onehr{
	border: none;
	border-top: 1px solid rgb(170,170,170);
	 
}

.content{
	margin: 4.5% 2.5%  2.5%;
}
.date{
	border-radius: 5px;
	background-color: rgb(255,255,255);
}
.week{
	padding-top: 2.5%;
	margin-bottom: 2.5%;
}
.week .num1,.num{
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	width: 14%;
	float: left;
}
.week .num1{
	color: rgb(6,192,143);
}
.week .num{
	color: rgb(103,103,103);
}
.day{
	margin-top: 4%;
	padding-right: 1.5%;
	padding-left: 1.5%;
	padding-bottom: 5%;
}
.day1,.day2,.day3,.day4,.day5{
	border-radius: 5px;
	margin-left: 1%;
	margin-top: 1%;
	text-align: center;
	float: left;
	width: 13%;
	font-size: 14px;
	font-family: "微软雅黑";
	font-weight: 500;
	color: rgb(255,255,255);
	 
}
.day1{	
	font-weight: 600;
	font-size: 16px;
	background-color: rgb(228,228,228);
	color: rgb(179,179,179);
}
.day2{
	background-color: rgb(51,207,167);
}
.day3{
	background-color: rgb(254,187,98);
}
.day4{
	background-color: rgb(255,134,133);
}
.day5{
	font-weight: 600;
	font-size: 16px;
	background-color: rgb(153,216,189);
}
.number{
	font-size: 4.5vw;
	margin-top: 8%;

	/*margin-bottom: 3px;*/
/*	font-weight: 600;*/
}
.content2{
	margin-bottom: 10%;
}
.detail{
	background-color: rgb(255,255,255);
	margin-bottom: 2%;
	padding: 3% 4%;
	font-size: 14px;
	font-weight: 600;	
}
.detail .month{
	font-family: "微软雅黑 Light";
	font-weight: 600;
	margin-bottom: 1%;
	color: rgb(5,193,143);
}
.detail .reason1{
	color: rgb(255,197,123);
}
.detail .reason2{
	color: rgb(252,142,141);
}
.detail .reason3{
	margin-top: 3%;
}
.detail .reason3 span{
	display: block;
	float: left;
}
.detail .reason3 .radio{
	float: right;
}
.rleft{
	margin-bottom: 2%;
}
.rright{
	margin-top: 3%;
}
.reason3 .radio{
	margin-top: -0.5%;
	padding: 1.1% 5% 1.5%;
	border-radius: 6px;
	color: white;
	background-color: rgb(51,207,167);
}

hr{
	border: none;
	border-top: 1px dashed rgb(239,240,242)
}