*{
	font-family: "微软雅黑 Light";
	margin: 0;
	padding: 0;
}
.clearfix{
	clear: both;
}
body{
	background-color: rgb(239,240,242);
}



.container{
	background-color: rgb(239,240,242);
}
.wteacher{
	padding:8px 10px 10px;
	background-color: white;
}
.left{
	width: 58%;
	float: left;
}
.left img{
	margin-right: 2px;
	float: left;
	margin-top: -2px;
	width: 26px;
}
.left span{
	display: block;
	margin-top: 1.3px;
	margin-left: 1px;
	font-size: 15px;
	font-weight: bold;
}
.one{
	margin-bottom: 4px;
}
.one .right{
	font-size: 13px;
	float: right;
	margin-top: -2px;
	text-align: center;
	padding: 1px 10px;
	border-radius: 5px;
	color: white;
	font-weight: 600;
}
.wteacher .one .right{
	background-color: rgb(255,184,73);
}
.two{
	margin-bottom: 6px;
}

.two span{
	display: inline-block;
	margin-right: 6px;
	font-size: 14px;
	color: rgb(70,70,70);
}
.two .img{
	text-align: center;
}
.wteacher .two img{
	margin-top: 6px;
	width: 31%;
}
.wteacher .two .img2{
	margin-left: 1.5%;
	margin-right: 1.5%;
}
.three {  
	color: rgb(151,153,150);
	font-weight: 500;
	font-size: 12.5px;
	margin-top: 5px;
	margin-bottom: 7px;
}
.pandect{
	margin-top: 8px;
	font-size: 13px;
	color: rgb(255,184,73);
}
.yuanzhang2{
	padding:8px 10px 10px;
	margin-top: 8px;
	background-color: white;
}
.split{	
	border: none;
	border-top: 1px dashed rgb(210,210,210);
}
.yuanzhang2 .one .right{
	background-color: rgb(6,192,142);
}

.tab{
	background-color:#FFF; 
	font-family:"微软雅黑 Light"; 
	font-weight:600;
}
 .tab .one{ 
	color:#676767; 
	width:48%; 
	font-size:14.5px; 
	line-height:32px; 
	float:left; 
	text-align:center;
}
 .tab .tro{ 
	color:#06c18e; 
	width:48%; 
	font-size:14.5px; 
	line-height:32px; 
	float:left; 
	text-align:center;
}


.tab .tro div{
	border-bottom:2px #06c18e solid;
	width:60%; 
	margin-left:auto; 
	margin-right:auto;
}
/*内容区*/
